@page
@model Books.Pages.CheckoutCompletedModel
@{
}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h2><span class="display-4">Thank you for your buisness!</span></h2>
        <a class="btn btn-primary" asp-controller="Home">Return Home</a>
    </div>
</div>