@*
*@
@{
    Layout = null;
}

@model LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazon Login</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="text-white bg-dark p-2">
        <span class="navbar-brand">AMAZON LOGIN</span>
    </div>

    <div class="m-1 p-1">
        <div class="text-danger" asp-validation-summary="All"></div>
        <form method="post" asp-controller="Account" asp-action="Login">
            <div class="form-group">
                <label asp-for="Username">Username:</label>
                <input asp-for="Username" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control" type="password" />
            </div>

            <button class="btn btn-primary" type="submit">Login</button>
            <input type="hidden" asp-for="ReturnUrl" />
        </form>
    </div>

</body>
</html>
