@page "/admin"
@model Books.Pages.Admin.IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazon Admin Page</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>
    <component type="typeof(Books.Pages.Admin.Routed)" render-mode="Server"/>
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>
